<%- include("layout/header") %>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="/addProduct" method="POST">
                    <div class="mb-3">
                        <label for="productName" class="form-label">Product</label>
                        <input type="text" name="productName" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Product</button>
                </form>
            </div>
        </div>
    </div>

<%- include("layout/footer") %>